@import "bootstrap";

body {
	background-color:  #F5F5F1;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
	background-color: #FFFFFF;
}

.navbar-default .navbar-brand{
	font-family: guardian-egypt, georgia, serif;
	font-weight: 400;
	color: #F45800;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #019285;
}

.center {
	text-align:  center;
}

.col-md-3:ntn-child(4n+1){
	clear: left;
}

.col-md-6 {
	h3{font-size: 35px;}
	h5{font-size: 15px;}
	p{font-size: 12px;}
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 10px;
		margin: 0px;
	}
}